<div class="modal fade" id="editOrder">
    <div class="modal-dialog">
        <form data-ng-submit="oCtrl.editOrder()">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" data-ng-click="oCtrl.orderContent = []" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Editer une commande</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-default">
                                <div class="box-body">
                                    <div class="row margin-bottom">
                                        <div class="col-xs-12">
                                            <div class="input-group">
                                                <select id="category" class="form-control" data-ng-model="oCtrl.order.table">
                                                    <option data-ng-repeat="table in oCtrl.tables" value="{{table._id}}">{{table.desc}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Produits</h3>
                                    <div class="box-tools">
                                        <div class="input-group input-group-sm" style="width: 150px;">
                                            <input type="text" data-ng-model="mCtrl.search" name="table_search"
                                                   class="form-control pull-right" placeholder="Rechercher">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body no-padding">
                                    <table class="table table-striped" style="color: black !important;">
                                        <tbody>
                                        <tr>
                                            <th style="width: 30%; text-align: center;">Nom</th>
                                            <th style="text-align: center; width: 15%;">Prix</th>
                                            <th style="text-align: center; width: 15%;">Total</th>
                                            <th class="float-right"></th>
                                        </tr>
                                        <tr data-ng-repeat="content in oCtrl.orderContent | filter: oCtrl.search | orderBy: 'name'"
                                            data-ng-hide="content.removed">
                                            <td data-ng-bind="content.name"
                                                style="text-align: center; vertical-align: middle;"></td>
                                            <td style="text-align: center; vertical-align: middle;"><span
                                                    class="badge bg-blue">{{ content.price.toString() + "€" }}</span>
                                            </td>
                                            <td style="text-align: center; vertical-align: middle;"><span
                                                    class="badge bg-red">{{(content.price * content.quantity).toString() + "€" }}</span>
                                            </td>
                                            <td style="vertical-align: middle; text-align: center;">
                                                <button type="button" class="btn btn-danger" data-ng-click="oCtrl.decrementQuantity(oCtrl.order, product)">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                                <button type="button" class="btn btn-default">{{ content.quantity }}</button>
                                                <button type="button" class="btn btn-success" data-ng-click="oCtrl.incrementQuantity(oCtrl.order, product)">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-ng-click="oCtrl.orderContent = []" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success"
                            data-ng-class="{'disabled': oCtrl.blockEdition()}">Enregistrer
                    </button>
                </div>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>