<div class="login-box">
    <div class="login-logo">
        <a><b>Ez</b>orders</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body" style="height: 200px;" data-ng-click="meCtrl.setUserType('order')">
        <h1 style="text-align: center;margin-top: 21%; color: palevioletred;">SALLE</h1>
    </div>
    <!-- /.login-box-body -->
</div>
<div class="login-box">
    <!-- /.login-logo -->
    <div class="login-box-body" style="height: 200px;" data-ng-click="meCtrl.setUserType('kitchen')">
        <h1 style="text-align: center; margin-top: 21%;color: palevioletred;">CUISINE</h1>
    </div>
    <!-- /.login-box-body -->
</div>