<!-- Main content -->
<section class="content">

    <div class="row">contenu</div>
    <div class="row">contenu</div>
    <div class="row">contenu</div>
    <div class="row">contenu</div>
    <div class="row">contenu</div>
    <div class="row">contenu</div>
    <div class="row">contenu</div>
    <div class="row">contenu</div>
    <div class="row">contenu</div>
    <div class="row">contenu</div>
    <div class="row">contenu</div>
    <div class="row">contenu</div>
    <div class="row">contenu</div>
    <div class="row">contenu</div>
    <div class="row">contenu</div>
    <div class="row">contenu</div>
    <div class="row">contenu</div>
    <div class="row">contenu</div>
    <div class="row">contenu</div>
    <div class="row">contenu</div>
    <div class="row">contenu</div>
    <div class="row">contenu</div>

    <ng-include src="'modules/common/partials/modals/addToDesktop.html'"></ng-include>
</section>
<!-- /.content -->