<section class="content no-padding">
    <div class="col-md-10 col-md-offset-1 no-padding" data-ng-if="oCtrl.orders.length">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Commandes</h3>
                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" data-ng-model="oCtrl.search" name="table_search"
                               class="form-control pull-right" placeholder="Rechercher">
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <tbody>
                    <tr class="fixed fixed-top">
                        <th style="width: 5%; text-align: center;">#</th>
                        <th style="text-align: center;">Table</th>
                        <th style="width: 10%; text-align: center;">Création</th>
                        <th style="width: 10%; text-align: center;">Montant</th>
                        <th class="float-right" style="width: 30%"></th>
                    </tr>
                    <tr data-ng-repeat="order in oCtrl.orders | filter: oCtrl.search | orderBy: '-num'"
                        data-ng-class="{'order-ready': order.ready,
                        'order-notready': !order.ready}"
                        data-ng-hide="order.removed">
                        <td data-ng-bind="order.num" style="font-style: italic; text-align: center; vertical-align: middle;"></td>
                        <td style="vertical-align: middle; text-align: center;" data-ng-bind="oCtrl.getTable(order.table).num">
                        <td style="vertical-align: middle; text-align: center;">{{ oCtrl.toTimestamp(order.createdAt) | date:"dd'/'MM HH:mm" }}</td>
                        <td style="text-align: center; vertical-align: middle;"><span class="badge bg-blue">{{ oCtrl.getTotal(order) + "€" }}</span></td>
                        <td style="vertical-align: middle; text-align: center;">
                            <div class="btn-group">
                                <button type="button" class="btn btn-warning"
                                        data-ng-click="oCtrl.edit(order)"><i class="fa fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-danger"
                                        data-ng-click="oCtrl.showDeleteOrder(order)"><i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <div class="col-md-10 col-md-offset-1" data-ng-if="!oCtrl.orders.length">
        <div class="callout callout-info">
            <h4>Aucune commande trouvée</h4>

            <p>Créer votre première commande dès maintenant !</p>
        </div>
    </div>
    <ng-include src="'modules/order/partials/modals/addOrder.html'"></ng-include>
    <ng-include src="'modules/order/partials/modals/deleteOrder.html'"></ng-include>
</section>
<footer class="main-footer navbar-fixed-bottom">
    <a style="float: right;" class="btn btn-social btn-success"
       data-ng-class="{'disabled': oCtrl.order.ready}"
       onclick="$('#addOrder').modal('show')">
        <i class="fa fa-plus-circle"></i> Ajouter une commande
    </a>
</footer>