<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li ui-sref-active="active">
                <a href="../widgets.html">
                    <i class="fa fa-plus"></i> <span>Commandes</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href="../widgets.html">
                    <i class="fa fa-tasks"></i> <span>Commandes en cours</span>
                    <span class="pull-right-container">
              <small class="label pull-right bg-green">2</small>
            </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="main.product">
                    <i class="fa fa-list"></i> <span>Produits</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href="../widgets.html">
                    <i class="fa fa-clipboard"></i> <span>Menus</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href="../widgets.html">
                    <i class="fa fa-map-marker"></i> <span>Tables</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href="../widgets.html">
                    <i class="fa fa-gear"></i> <span>Paramètres</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>