<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li ui-sref-active="active" data-ng-if="$root.type === 'kitchen'">
                <a ui-sref="main.orderIncoming">
                    <i class="fa fa-tasks"></i> <span>Commandes en cours</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>
            <li ui-sref-active="active" data-ng-if="$root.type === 'room'">
                <a ui-sref="main.orderReady">
                    <i class="fa fa-tasks"></i> <span>Commandes prêtes</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="main.order">
                    <i class="fa fa-list-alt"></i> <span>Commandes</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="main.product">
                    <i class="fa fa-list"></i> <span>Produits</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="main.menu">
                    <i class="fa fa-clipboard"></i> <span>Menus</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="main.table">
                    <i class="fa fa-map-marker"></i> <span>Tables</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>