<div class="modal fade" id="addProduct">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Créer un produit</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-default">
                            <div class="box-body">
                                <div class="row margin-bottom">
                                    <div class="col-xs-7">
                                        <input type="text" class="form-control" placeholder="Nom">
                                    </div>
                                    <div class="col-xs-5">
                                        <div class="input-group">
                                            <input type="number" placeholder="Prix" step="0.01" class="form-control">
                                            <span class="input-group-addon">€</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-bottom">
                                    <div class="col-xs-7">
                                        <textarea class="form-control" placeholder="Description"></textarea>
                                    </div>
                                    <div class="col-xs-5">
                                        <div class="input-group">
                                            <label for="category">Categorie</label>
                                            <select id="category" class="form-control">
                                                <option>Entrée</option>
                                                <option>Plat</option>
                                                <option>Dessert</option>
                                                <option>Boisson</option>
                                                <option>Accompagnement</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-bottom">
                                    <div class="col-xs-12">
                                        <textarea class="form-control" placeholder="Composition"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-success">Créer</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>