<div class="modal fade" id="editProduct">
    <div class="modal-dialog">
        <form data-ng-submit="pCtrl.editProduct()">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Editer un produit</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-default">
                                <div class="box-body">
                                    <div class="row margin-bottom">
                                        <div class="col-xs-7">
                                            <input type="text" data-ng-model="pCtrl.product.name" required
                                                   class="form-control" placeholder="Nom">
                                        </div>
                                        <div class="col-xs-5">
                                            <div class="input-group">
                                                <input type="number" data-ng-model="pCtrl.product.price"
                                                       placeholder="Prix" step="0.01" class="form-control">
                                                <span class="input-group-addon">€</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom">
                                        <div class="col-xs-7">
                                            <textarea class="form-control" placeholder="Description"
                                                      data-ng-model="pCtrl.product.description"></textarea>
                                        </div>
                                        <div class="col-xs-5">
                                            <div class="input-group">
                                                <select id="category" class="form-control"
                                                        data-ng-model="pCtrl.product.category">
                                                    <option>Entrée</option>
                                                    <option>Plat</option>
                                                    <option>Dessert</option>
                                                    <option>Boisson</option>
                                                    <option>Accompagnement</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom">
                                        <div class="col-xs-12">
                                            <textarea class="form-control" placeholder="Composition"
                                                      data-ng-model="pCtrl.product.composition"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-success"
                    data-ng-class="{'disabled': pCtrl.blockEdition()}">Enregistrer</button>
                </div>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>