<div class="modal modal-info fade" id="addToDesktop">
    <div class="modal-dialog">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Raccourci écran d'accueil</h4>
                </div>
                <div class="modal-body">
                    <p style="text-align: center;">Hey !</p>
                    <p style="text-align: center;">Pour améliorer la navigation, tu peux ajouter le liens sur ton écran d'accueil :)</p>
                    <p style="text-align: center;">Pour l'ajouter manuellement, il faut simplement selectionner "ajouter à l'écran d'accueil" dans le menu en haut à droit !</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Non merci</button>
                    <button type="submit" class="btn btn-success" data-ng-click="cCtrl.addToDesktop()">Oui, ajouter !</button>
                </div>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>