<!DOCTYPE html>
<html ng-app="app" data-ng-class="{'choice-bg': $root.currentState.name === 'choice'}">
<head>
    <meta charset="UTF-8">
    <style>
    </style>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="manifest" href="./manifest/manifest.json">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./node_modules/ionicons/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="./node_modules/admin-lte/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="./node_modules/admin-lte/dist/css/skins/skin-red.min.css">
    <link rel="stylesheet" href="./node_modules/ng-toast/dist/ngToast.min.css">
    <link rel="stylesheet" href="./node_modules/ng-toast/dist/ngToast-animations.min.css">
    <link rel="stylesheet" href="./modules/css/custom.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <title>Document</title>
</head>
<body data-ng-controller="menusCtrl as meCtrl" class="hold-transition"
      data-ng-class="
      {'login-page hold-transition': $root.currentState.name === 'login',
      'register-page hold-transition': $root.currentState.name === 'register',
      'no-bg login-page hold-transition': $root.currentState.name === 'choice',
      'fixed skin-red sidebar-mini': $root.currentState.name.indexOf('main.') !== -1}
">
<loader data-ng-if="$root.isLoading"></loader>
<toast></toast>
<ui-view data-ng-if="!$root.isLoading"></ui-view>
<script src="bundle.js"></script>
<script>
    jQuery(document).ready(function () {
        jQuery('.sidebar-menu').tree()
    })
</script>
</body>
</html>